
$white: #ffffff;
$black: #000000;

$bg-white: #FFFDFC;


$blue-1:#EBEBFF;
$blue-2:#E6E3FD;
$blue-3:#D5D2FD;
$blue-4:#C0BDF0;
$blue-5:#8F8BCC;
$blue-6:#9583C7;

$red-1:#FBEDED;
$red-2:#F8DBDB;
$red-3:#F3C5C5;
$red-4:#E8AAAA;
$red-5:#DB8E8E;
$red-6:#C77171;

$yellow-1:#FFF4EB;
$yellow-2:#FFE4CF;
$yellow-3:#FADFC1;
$yellow-4:#F3C19B;
$yellow-5:#E6A777;
$yellow-6:#D68A52;

$green-1:#EFFBF5;
$green-2:#DFF8EC;
$green-3:#BFF0DB;
$green-4:#96E0C2;
$green-5:#6FC7A8;
$green-6:#4AA38A;
